@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700&display=swap');

body{
  margin:0;

  font-family: 'Inter', sans-serif;
}

.btn-primary{
  @apply bg-primary text-white py-2 px-7 transition-all duration-300 rounded hover:bg-secondary hover:-translate-y-4;
}

